//
// register page
// --------------------------------------------------

.register-form{
  padding:30px 60px;
  h3{
    font-size:$font-size-large;
    color:$brand-primary;
    margin-bottom:15px;
  }
  .ui-button-llblue{
    margin-top:20px;
  }
}