//
// Variables
// --------------------------------------------------

//== Colors
//
//##
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 53.5%) !default; // #888
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         #15ae67 !default;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


//== layout
//
//##
$wrapper-width:   990px !default;
$header-height:   77px !default;
$footer-height:   70px !default;

$body-bg:     #f5f5f5 !default;
$header-bg:   #fff !default;
$footer-bg:   #ebebeb !default;
$wrapper-bg:  #fff !default;

$text-color:            $gray-dark !default;
$text-color-white:      #fff !default;

$link-color:            $brand-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;


//== Button
//
//##
$btn-font-weight:                normal !default;

$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;


//== Typography
//
//##
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;
$font-family-alice:       tahoma,arial,"Hiragino Sans GB",\5b8b\4f53;
$font-family-cn:          "Microsoft yahei",tahoma,arial,"Hiragino Sans GB",\5b8b\4f53;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$line-height-base:        1.428571429 !default; // 20/14