
//- site info
- var siteName = "开发平台 - 江苏省中小学教育卡"
- var copyRight = "copyRight &copy; 2015 jiaoyucard.com, All rights reserved."

//- page info
- var homePage = {pageTitle:'jiaoyucard',keywords:'',description:''}
- var resourcePage = {pageTitle:'resource',keywords:'',description:''}
