//- Config

//- Site info
- var siteName = "开放平台 - 江苏省中小学教育卡"
- var copyRight = "CopyRight &copy; 2015 jiaoyucard.com, All rights reserved."
- var beian = "苏ICP备11000766号-12"

//- Page info
- var homePage = {pageTitle:'开放平台',keywords:'',description:''}
- var resourcePage = {pageTitle:'资源中心',keywords:'',description:''}
- var managePage = {pageTitle:'管理中心',keywords:'',description:''}
- var commitWebsiteAppPage = {pageTitle:'提交网站应用 - 管理中心',keywords:'',description:''}
- var commitMobileAppPage = {pageTitle:'提交移动应用 - 管理中心',keywords:'',description:''}
- var accountPage = {pageTitle:'账号管理',keywords:'',description:''}
- var registerPage = {pageTitle:'用户注册',keywords:'',description:''}